<div class="col-md-6 col-md-offset-3">
    <h2>{{pageTitle}}</h2>
    <form name="userform" (ngSubmit)="f.form.valid && addUser(model)" #f="ngForm" novalidate>
       <table> 
           <tr>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !first_Name.valid }">
            <td>
            <label for="first_Name">First Name :</label>
             </td>
           <td> <input type="text" class="form-control"  name="first_Name" [(ngModel)]="model.first_Name" #first_Name="ngModel" required />
             </td>
            <div *ngIf="f.submitted && !first_Name.valid" class="help-block">First Name is required</div>
        </div>
         </tr>
             <tr>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !last_Name.valid }">
              <td>
            <label for="last_Name">Last Name :</label> 
               </td>
           <td> 
            <input type="text" class="form-control" name="last_Name" [(ngModel)]="model.last_Name" #last_Name="ngModel" required />
            </td>
            <div *ngIf="f.submitted && !last_Name.valid" class="help-block">Last Name is required</div>
        </div>
           <tr>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !employee_ID.valid }">
              <td>
            <label for="employee_ID">Employee ID :</label>
                </td>
                
           <td> 
            <input type="text" class="form-control" name="employee_ID" [(ngModel)]="model.employee_ID" #employee_ID="ngModel" required
            />
             </td>
            <div *ngIf="f.submitted && !employee_ID.valid" class="help-block">Employee ID is required</div>
        </div>
  </tr>
        <div class="form-group">
            <button class="btn btn-primary"> {{adduser ? 'Add' : 'Edit'}}</button>
            <button class="btn btn-primary" (click)='reset(userform)'>Reset</button>

        </div>
        </table>
    </form>
    <div class='panel panel-primary'> </div>
    <div class='panel panel-primary'>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-4'>
                    <input type='text' [(ngModel)]='listFilter' />
                </div>
            </div>
            <br>
            <div class='table-responsive'>
                <table class='table' *ngIf='users && users.length'>
                    <tbody>
                        <tr *ngFor='let user of filteredUsers'>
                            <table>

                                <tr class='col-4'>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" [readonly]="true" class="form-control" name="first_Name" [(ngModel)]="user.first_Name" #first_Name="ngModel"
                                            />

                                        </div>

                                    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <td>
                                        <div class="form-group">
                                            <button class="btn btn-primary;align:right" (click)='edit(user)'>Edit</button>

                                        </div>
                                    </td>





                                </tr>
                                <tr>
                                    <td>

                                        <div class="form-group">
                                            <input type="text" [readonly]="true" class="form-control" name="last_Name" [(ngModel)]="user.last_Name" #first_Name="ngModel"
                                            />



                                        </div>
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                    <td>
                                        <div class="form-group">
                                            <button class="btn btn-primary;align:right" (click)='delete(user.user_ID)'>Delete</button>

                                        </div>
                                    </td>


                                </tr>

                                <tr>
                                    <div class="form-group">
                                        <input type="text" [readonly]="true" class="form-control" name="employee_ID" [(ngModel)]="user.employee_ID" #first_Name="ngModel"
                                        />

                                    </div>

                                </tr>
                            </table>
                            <div class='panel panel-primary'> </div>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>