<div class="col-md-6 col-md-offset-3">
    <h2>{{pageTitle}}</h2>
    <form [formGroup]="form" novalidate>
        <table>
            <tr>
                <form-control>
                    <td>
                        <label for="first_Name">Firat Name:
                            <span class="required-field">*</span>
                        </label>
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="first_Name" />
                    </td>
                </form-control>

            </tr>
            <div class="form-group"></div>
            <tr>
                <form-control>
                    <td>
                        <label for="last_Name">Last Name:
                            <span class="required-field">*</span>
                        </label>
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="last_Name" />
                    </td>
                </form-control>
            </tr>
            <div class="form-group"></div>
            <tr>
                <form-control [label]="'Employee ID'">
                    <td>
                        <label for="employee_ID">Employee ID:
                            <span class="required-field">*</span>
                        </label>
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="employee_ID" />
                    </td>
                </form-control>
            </tr>
            <div class="form-group"></div>
            <div class="button-form-group">
                <button [disabled]="form.invalid" class="btn btn-primary" (click)=addUser()> {{isUserUpdating ? 'Add' : 'Update'}}</button>
                <button class="btn btn-primary" (click)='reset(userform)'>Reset</button>

            </div>
        </table>
    </form>
    <div class="form-group"></div>
    <div class='panel panel-primary'> </div>
 
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-4'>
                    <input type='text' [(ngModel)]='listFilter' />
                </div>
                <div class='col-md-2'>Sort:</div>
                <button class='btn btn-primary' (click)="sort('first_Name')">First Name </button>
                <button class='btn btn-primary' (click)="sort('last_Name')">Last Name </button>
                <button class='btn btn-primary' (click)="sort('employee_ID')"> Id </button>

            </div>
            <br>
            <div class='table-responsive'>
                <table class='table' *ngIf='users && users.length'>
                    <tbody>
                        <tr *ngFor='let user of filteredUsers'>
                            <table>

                                <tr class='col-4'>
                                    <td>
                                        <div class="list-group">
                                            <li class="list-group-item">{{user.first_Name}}</li>

                                        </div>

                                    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <td>
                                        <div class="list-group">
                                            <button class="btn btn-primary;align:right" (click)='edit(user)'>Edit</button>

                                        </div>
                                    </td>

                               </tr>
                                <tr>
                                    <td>

                                        <div class="list-group">
                                            <li class="list-group-item">{{user.last_Name}}</li>
                                        </div>
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                    <td>
                                        <div class="list-group">
                                            <button class="btn btn-primary;align:right" (click)='delete(user.user_ID)'>Delete</button>

                                        </div>
                                    </td>


                                </tr>

                                <tr>
                                    <div class="list-group">
                                        <li class="list-group-item">{{user.employee_ID}}</li>

                                    </div>

                                </tr>
                            </table>
                            <div class='panel primary_dot'> </div>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
  